html {
  background: white;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  color: #998f99;
  font-family: sans-serif;
  margin: 4em 0;
  min-height: 100%;
  padding: 0;
}

section {
  margin: 0 30%;
}

section section {
  margin: 0;
}

#rss {
  position: absolute;
  right: 20px;
  top: 20px;
}

#rss:hover,
#rss:focus {
  background-color: #d60;
}

.abstract {
  font-size: 0.9em;
  margin: -1.5em 0 2em 1em;
  opacity: 0.7;
  text-transform: lowercase;
}

.topic-title {
  display: none;
}

a {
  color: #d60;
  transition-duration: 0.4s;
  transition-timing-function: linear, ease-out;
}

a:hover,
a:focus {
  color: black;
  outline: none;
}

pre {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.5em;
}

h1 {
  font-family: "Monovember";
  font-size: 4em;
  font-weight: normal;
  line-height: 0.7em;
  padding: 0;
  text-shadow: #ddd 1px 1px 3px;
  margin: -0.2em 0 0.6em 0;
  text-align: center;
}

h1 a {
  color: rgba(100, 100, 100, 0.5);
}

h2, h3 {
  color: #202;
  font-weight: normal;
  margin: 2em 0 1em 0;
}

nav ul, footer ul {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

nav ul ul {
  border-width: 0;
  display: inline-block;
  font-size: 0.8em;
  height: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 2em;
  transition-duration: 0.4s;
  width: 0;
}

nav li, footer li {
  display: inline;
  font-size: 1.2em;
  font-variant: small-caps;
  margin: 0;
  padding: 0 0.5em;
  position: relative;
  text-transform: lowercase;
}

nav ul li:hover ul {
  height: auto;
  opacity: 1;
  padding: 1em;
  width: auto;
}

nav ul li:hover ul li {
  padding: 0;
}

nav li a[href],
footer li a[href] {
  color: #999;
}

nav li a,
nav li a:hover,
nav li a:focus,
footer li a,
footer li a:hover,
footer li a:focus {
  border-radius: 1em;
  color: #d60;
  padding: 0.25em 0.5em 0.5em 0.5em;
}
nav li a[href]:hover,
nav li a[href]:focus,
footer li a[href]:hover,
footer li a[href]:focus, {
  color: black;
}

footer {
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  right: 0;
}
